<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rifeng.agriculturalstation">

    <!-- Required -->
    <permission
        android:name="com.rifeng.agriculturalstation.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.rifeng.agriculturalstation.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <!--添加Toast提示权限，解决魅族手机不能提示的问题，客户端还需给悬浮窗的权限-->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 读写SD卡的权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 访问网络，网络定位需要上网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- iBeancon功能所需权限 -->;
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>


    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="Android:icon, android:theme">
        <activity android:name=".activity.WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.TabActivity"
            android:windowSoftInputMode="stateVisible|adjustPan|stateHidden" />
        <activity android:name=".MainActivity" />
        <activity android:name=".activity.RegisterActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.GuidesActivity" />
        <activity android:name=".activity.ForgotPasswordActivity" />
        <activity android:name=".activity.PersonalInfoActivity" />
        <activity android:name=".activity.ModifyInfoActivity" />
        <activity android:name=".activity.MyReleaseTaskActivity" />
        <activity android:name=".activity.AccountInfoActivity" />
        <activity android:name=".activity.RechargeActivity" />
        <activity android:name=".activity.AuthenticationActivity" />
        <activity android:name=".activity.BalancePaymentsActivity" />
        <activity android:name=".activity.PasswordManagerActivity" />
        <activity android:name=".activity.MessageListActivity" />
        <activity android:name=".activity.PunishmentActivity" />
        <activity android:name=".activity.ReleaseTaskActivity" />
        <activity android:name=".activity.BasePersonalInfoActivity" />
        <activity android:name=".activity.MyFarmListActivity" />
        <activity android:name=".activity.FarmDetailsActivity" />
        <activity android:name=".activity.AddFarmActivity" />
        <activity android:name=".activity.EvaluationActivity" />
        <activity android:name=".activity.TradeAlertsActivity" />
        <activity android:name=".activity.LocomotiveListActivity" />
        <activity android:name=".activity.LocomotiveDetailsActivity" />
        <activity android:name=".activity.ForumDetailsActivity" />
        <activity android:name=".activity.TradeAlertsDetailsActivity" />
        <activity android:name=".activity.PhotoViewActivity" />
        <activity android:name=".activity.TaskCenterDetailsActivity" />
        <activity android:name=".activity.WithDrawalActivity" />
        <activity android:name=".activity.AddLocomotiveActivity" />
        <activity android:name=".activity.MyBankCardActivity" />
        <activity android:name="me.iwf.photopicker.PhotoPickerActivity" />
        <activity android:name="me.iwf.photopicker.PhotoPagerActivity" />
        <activity android:name=".activity.TouBiaoPayActivity" />
        <activity android:name=".activity.BidSelectionActivity" />
        <activity android:name=".activity.SearchActivity" />
        <activity android:name=".activity.TradingRecordActivity" />
        <activity android:name=".activity.PayProjectBond" />
        <!--支付宝支付-->
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind" />
        <activity
            android:name="com.alipay.sdk.auth.AuthActivity"
            android:configChanges="orientation|keyboardHidden|navigation"
            android:exported="false"
            android:screenOrientation="behind">
             
        </activity>
        <!--支付宝支付-->

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />

        <service android:name=".service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice" />
        <service android:name=".service.IntentService" />

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="nQSDGSGcsjsoHYQxyTjFqxcrZhzkoY6r" />
        //key:开发者申请的Key
        <activity
            android:name=".activity.FenQiPriceActivity"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".activity.PayStagesActivity" />

        <!-- Required SDK 核心功能-->
        <!-- option since 2.0.5 可配置PushService，DaemonService,PushReceiver,AlarmReceiver的android:process参数 将JPush相关组件设置为一个独立进程 -->
        <!-- 如：android:process=":remote" -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>


        <!-- Required -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <category android:name="com.rifeng.agriculturalstation" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>
        <!-- Required SDK核心功能-->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.rifeng.agriculturalstation" />
            </intent-filter>
        </activity>
        <!-- Required SDK核心功能-->
        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false"></service>
        <!-- Required SDK核心功能-->
        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />

        <!-- User defined. 用户自定义的广播接收器-->
        <!--<receiver
            android:name="com.rifeng.agriculturalstation.MyReceiver"
            android:enabled="true">
            <intent-filter>
                Required 用户注册SDK的intent
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                Required 用户接收SDK消息的intent
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                Required 用户接收SDK通知栏信息的intent
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                Required 用户打开自定义通知栏的intent
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                Optional 用户接受Rich Push Javascript 回调函数的intent
                <action android:name="cn.jpush.android.intent.ACTION_RICHPUSH_CALLBACK" />
                 接收网络变化 连接/断开 since 1.6.3
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.rifeng.agriculturalstation" />
            </intent-filter>
        </receiver> -->
    </application>

</manifest>